.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  }
  
  .card {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading-form {
    margin-bottom: 20px;
    text-align: center;
    color: #218838;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btnn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  .formGroup{
    text-align: center;
  }
  
  .btnn:hover {
    background-color: #0056b3;
  }
  
  .mt-3 {
    margin-top: 20px;
  }
  
  .mt-3 p {
    margin: 0;
  }
  
  .mt-3 a {
    color: #007bff;
    text-decoration: none;
  }
  
  .mt-3 a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .card {
      width: 90%;
      padding: 15px;
    }
  }
  